p{
    color: brown;
    border: 5px;
    border-style: inset;
    border-color: blue;

    border-top-style: dashed;
    border-bottom-style: dotted;
    border-left-style: double;
    font-size: 50px;

}
h1{
    border: 3px solid green;
    font-size: 100px;
    width: fit-content;

    border-radius: 20px 40px;
    padding: 20px;
}